<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
        <h1 class="mb-1">Tus tareas pendientes</h1>
        <h3 class="mb-5">
            <em>Guarda tus tareas aquí</em>
        </h3>
        <a href="/signin" class="btn btn-primary">Comienza ya!</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>